body {
    background-color: e9e9e9;
}

.color-link-orcamento {
    color: #337ab7;
}

.color-link-orcamento:hover {
    color: #286090;
}

.color-link-cliente {
    color: #f0ad4e;
}

.color-link-cliente:hover {
    color: #a56304;
}

.color-link-empresa {
    color: #5cb85c;
}

.color-link-empresa:hover {
    color: #449d44;
}

.color-delete {
    color: #d9534f;
}

.color-delete:hover {
    color: #c9302c;
}

.modal-header-empresa {
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.modal-header-del {
    background-color: #d9534f;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.breadcrumb li {
    padding: 5px;
}
