<!DOCTYPE HTML>

{% load staticfiles %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>RSA</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/pros.css' %}">
	
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/jquery.mask.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-table-pt-BR.min.js' %}"></script>
	<script src="{% static 'js/pros.js' %}"></script>
</head>

{% block body %}
	<body>
		{{ block.super }}
	</body>
{% endblock body %}
<footer>
	<div style="margin-left:70%">
		<font size="1">Desenvolvido por L Broz</font> <img src="{% static 'images/logo-lbroz.png' %}" alt="logo" style="width:32px;height:32px;">
	</div>
</footer>