<!DOCTYPE HTML>

{% include 'pros/base.html' %}
{% load staticfiles %}

<html lang="pt-br">
    <head>
<!--CSS--------------------------------------------------------------------------------------------------------------->
        {% block styles %}{% endblock styles %}
<!-------------------------------------------------------------------------------------------------------------------->
    </head>
    <body>
        <header class="page-header text-center color-link-cliente">
            <h1><strong>RSA</strong> - Ordem de serviço</h1>
        </header>
        <div class="container">
            <ul class="breadcrumb">
                <li><a class="color-link-cliente" href="{% url 'pros:index' %}">Orçamentos</a><span class="divider"></span></li>
                <li><a class="color-link-cliente" href="{% url 'pros:empresas' %}">Empresa</a> <span class="divider"></span></li>
                <li class="active">{{ nome_empresa }}</li>
            </ul>
            <div id="toolbar-cliente">
                <a type="button" class="btn btn-warning btn-cadastro" href="{% url 'pros:cadastro_cliente' empresa_id=empresa_id %}">
                    <i class="glyphicon glyphicon-log-in"></i> Cadastrar Cliente
                </a>
            </div>
            <table data-toggle="table"
                data-toolbar="#toolbar-cliente"
                data-search="true"
                data-sort-name="solicitante"
                data-sort-order="desc"
                data-pagination="true"
                data-show-footer="false"
                data-page-list="[10, 25, 50, 100, ALL]"
                data-minimum-count-columns="2"
                data-show-columns="true">
                <thead>
                    <tr>
                        <th data-field="solicitante" data-sortable="true">Solicitante</th>
                        <th data-field="responsavel" data-sortable="true">Responsável</th>
                        <th data-field="cargo" data-sortable="true">Cargo</th>
                        <th data-field="tel" data-sortable="true">Telefone</th>
                        <th data-field="ramal" data-sortable="true">Ramal</th>
                        <th data-field="cel" data-sortable="true">Celular</th>
                        <th data-field="email" data-sortable="true">E-mail</th>
                        <th data-field="action" class="col-md-1" data-align="center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clientes in client_list %}
                        <tr>
                            <td class="text-overflow">{{ clientes.solicitante }}</td>
                            <td class="text-overflow">{{ clientes.responsavel }}</td>
                            <td class="text-overflow">{{ clientes.cargo }}</td>
                            <td class="text-overflow">{{ clientes.tel }}</td>
                            <td class="text-overflow">{{ clientes.ramal }}</td>
                            <td class="text-overflow">{{ clientes.cel }}</td>
                            <td class="text-overflow">{{ clientes.email }}</td>
                            <td class="col-md-1" data-align="center">
                                <a class="edit ml10" href="update_cliente/{{ clientes.id }}" title="Edit">
                                    <i class="glyphicon glyphicon-edit color-link-cliente"></i>
                                </a>
                                <a class="remove ml10 remove-client" title="Remove" data-toggle="modal" href="#"
                                   data-id="{{ clientes.id }}" data-name="{{ clientes.solicitante }}"
                                   data-target="#client-del">
                                    <i class="glyphicon glyphicon-remove color-delete"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="modal fade" id="client-del" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header modal-header-del">
                            <h4 class="modal-title">Alerta</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-success btn-yes">Sim</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--JAVASCRIPT-------------------------------------------------------------------------------------------------------->
        {% block scripts %}{% endblock scripts %}
<!-------------------------------------------------------------------------------------------------------------------->
    </body>
</html>