<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Impressão de Orçamento</title>
</head>
<body>
    <a>{{orçamento.empresa}}</a>
<a>{{orçamento.cliente}}</a>
<a>{{orçamento.num_nf_entrada}}</a>
<a>{{orçamento.descrição}}</a>
<a>{{orçamento.acessorios}}</a>
<a>{{orçamento.observações}}</a>
<a>{{orçamento.data_envio_orcamento}}</a>
<a>{{orçamento.data_aprovacao}}</a>
<a>{{orçamento.num_pedido}}</a>
<a>{{orçamento.valor}}</a>
<a>{{orçamento.executante}}</a>
<a>{{orçamento.data_liberacao}}</a>
<a>{{orçamento.num_nf_servico}}</a>
<a>{{orçamento.num_nf_vendas}}</a>
<a>{{orçamento.num_nf_devolucao}}</a>
<a>{{orçamento.responsavel_preenchimento}}</a>
</body>
</html>